@using BookLog.Dtos

@model IEnumerable<AuthorDto>

<h1>List of all authors</h1>
<div>
    <a class="btn btn-success" asp-action="Create">Create</a>
</div>
@foreach (var author in Model) {
    <div class="border border-1 border-dark p-2">
        <h5>
            @author.FullName
            @if (!string.IsNullOrWhiteSpace(author.DatabazeKnihUrl)) {
                <a href="@author.DatabazeKnihUrl" target="_blank" title="DatabazeKnih.cz">🔗</a>
            }
        </h5>
        <p>@author.NationalityDisplay @author.LifeSpan</p>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@author.Id">Edit</a>
        <form method="post" style="display: inline">
            <button type="submit" class="btn btn-danger" asp-action="Delete" asp-route-id="@author.Id">Delete</button>
        </form>
    </div>
}
